<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with you email account</h4>
        <label>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
        </label>
        <label>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </label> 
        <label>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </label>    
        <%= f.submit "Log in", class: 'button expanded' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
